{% extends "base.html" %}

{% block title %}Home - Spurs Tracker{% endblock %}

{% block content %}
<h1>Welcome to Spurs Tracker</h1>
<p style="text-align: center;">
    Tottenham Hotspur, commonly referred to as Spurs, is one of the most iconic football clubs in England, known for its rich history, passionate fanbase, and thrilling style of play. Established in 1882, Spurs have become a symbol of resilience and excellence, competing in the Premier League and European competitions.
</p>
<p style="text-align: center;">
    This website is dedicated to tracking Tottenham Hotspur's performance, statistics, and history. Whether you're a long-time supporter or new to the club, Spurs Tracker provides insights into the team's achievements, player profiles, and recent results, all in one convenient platform.
</p>
{% endblock %}
